* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

header, main, footer {
  max-width: 1440px;
  margin: 0 auto;
}



header {
  height: 100px;
  background: #FB3F5C;
}

.container {
  margin: 0 auto;
  max-width: 1190px;
}

.header-meniu {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;  
}

.logo {
font-family: 'NovaMono';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 50px;
text-transform: uppercase;
color: #F8EEEF;
}

.logo {
font-size: 36px;
line-height: 50px;
text-transform: uppercase;
color: #F8EEEF;
}

ul {
display: flex;
list-style-type: none;
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: #F8EEEF;
gap: 52px;

}

li:first-child {
font-weight: 700;
}




span.text-im {
font-weight: 700;
font-size: 50px;
line-height: 68px;
text-transform: capitalize;
color: #191018;
}

p.text-hello {
font-weight: 400;
font-size: 28px;
line-height: 38px;
color: #000000;
}

span.Daniella  {
font-weight: 700;
font-size: 50px;
line-height: 68px;
text-transform: capitalize;
color: #FB3F5C;}

p.opisanie {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 16px;
}

button.knopka {
background: #FB3F5C;
border-radius: 18px;
width: 223px;
height: 55px;
border: none;
}

.textbutton{
font-size: 20px;
color: #F8EEEF;
}

.first-section-left {
  height: 720px;
  width: 721px;
  display: flex;
  align-items: center;
}

.first-section-text{
width: 445px;
}

.first-section {
  display: flex;
    align-items: center;
}
  

.foto {
position: relative;
top: -14px;
left: 128px;
width: 633px;
height: 687px;
background-image: url(./images/LICO.png), url(./images/treu1.png);
background-repeat: no-repeat;
background-position: 32px, 8px, 50%;
}


