include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body
       header
             include pug/section
             include pug/section-two
             include pug/section-three
             include pug/section-four
       main
       footer 