doctype html
html(lang="en")
      head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Document
      
      body 
      header
            div.container
                  div.header-meniu
                        div.meniu-left
                              div.logo Damadams
                        div.meniu-right
                              nav.navigation
                                    ul.navigation-list
                                                li Home 
                                                li About
                                                li Latest Works
                                                li Testimonials
                                                li Contact

      main
            div.container
                  div.first-section
                        div.first-section-left
                              div.first-section-text
                                    p.text-hello Hello, 
                                    span.text-im I’m  
                                    span.Daniella  Daniella Adams
                                    p.opisanie I’m a Graphics Designer,Designng has become my everyday affair. masting styles,grids cant be less interesting.
                              button.knopka 
                                    div.textbutton Download CV
                        div.first-section-right
                                    div.treugolnik
                                    div.foto
                                                         
                                    
                                    





                              


       
